# Version control
.git
.gitignore

# Node.js
frontend/node_modules
frontend/npm-debug.log
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production
frontend/dist

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.local
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.egg-info/
dist/
build/ 